.app{

    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 70px;
    padding-top: 10px;

    .topbar{
        width: 100%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: #fff;
        box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 7px 5px -3px rgba(0,0,0,0.75);

        .logo{
            height: 60px;
            width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: fill;
                object-position: center;
            }
        }

        .navlinks{
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            a{
                flex-grow: 1;
                text-align: center;
                margin-top: 3.5vw;
                text-decoration: none;
                color: #7d7dc8;
                font-weight: 800;
                font-size: 20px;
                margin: 5px 20px;
            
                &:hover {
                    color: #f14141;
                }
            }
        }

        .search{
            width: 200px;
            height: 30px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;

            input{
                height: 100%;
                flex: 8;
                display: block;
                background-color: transparent;
                border: none;
                color: #333;
                padding: 0 35px;
          
               font-weight: 600;
               font-size: 14px;
               &::placeholder {
                 color: #c5c5c5;
               }
            }
        }
    }

    .sidebar{
        display: flex;
        flex-direction: column;
        height: 100%;
        
        @media screen and (max-height: 520px) {
           overflow-y: auto;
           overflow-x: hidden;
        }

        .wrapper{
            &:first-child{
                width: 20px;
                height: 20px;
                display: inline-block;
                margin-right: 8px;
                flex-shrink: 0;
            }
            &:last-child{
                width: 92px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 20px;
            }
            span.shrink { display: none; }

            .shrink & {
                width: 0;
                opacity: 0;
                transform: translatex(-8px);
            }
    
            .shrink & {
                  width: 100%;
            }
    
        }

        .sidebar-profileSection {
            display: flex;
            align-items: center;
            margin-top: auto;
            border: 1px solid #f9f8fb;
            padding: 8px 10px;
            border-radius: 28px;
            overflow: hidden;
            height: 60px;
            flex-shrink: 0;
            cursor: pointer;
            &:hover { 
                background-color: #f9f8fb
            };
                img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 8px;
                    flex-shrink: 0;
                }

                span {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #00071d;

                }
            }
    }
    
    .home{
        width: 100%;
        background: #f0f8ff;

        .popularposts{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h1{
                font-weight: 600;
                font-size: 30px;
                text-align: center;
                color: #333333;
                margin-bottom: 50px;
            }

            .wrapper{
                margin-top: 80px;
                width: 100%;
                height: 400px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
                padding: 10px;

                .post{
                    background: #fff;
                    margin: 20px 15px 20px;
                    border-radius: 15px;
                    padding-top: 1px;
                    box-shadow: 0px 14px 22px -9px #bbcbd8;
                    &:hover img{
                        transform: scale(1.1,1.1);
                    }
                
                    &:hover > img a {
                        opacity:1;
                        text-decoration:none;
                    }

                    .image-container{
                        position: relative;
                        overflow: hidden;
                        border-radius: 10px;
                        margin: -12px 15px 8px 15px;
                        margin-left: -10px;

                        img{
                            width: 100%;
                            height: auto;
                            transform: scale(1,1);
                            transition:transform 0.2s linear;
                        }

                        .overlayer{
                            width:100%;
                            height:100%;
                            position: absolute;
                            top:0;
                            left:0;
                            opacity:0;
                            background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
                            transition:all 0.50s linear;

                            i{
                                position: relative;
                                top:45%;
                                text-align:center;
                                display: block;
                                color:#fff;
                                font-size:25px;
                            }
                        }
                    }

                    .content{
                        h3{
                            font-size: 24px;
                            .link{
                                font-size:15px;
                                font-weight:bold;
                                color:#333;
                                display: inline-block;
                                text-transform:uppercase;
                                transition: all 0.3s ease 0s;
                                &:hover{
                                   text-decoration: none;
                                   color:#3498db;
                                }
                            }
                        }

                        p{
                            line-height:24px;
                            color:#808080;
                            margin-bottom:25px;
                            text-overflow: ellipsis;
                        }

                        span{
                            color:#a9a9a9;
                            font-size: 14px;
                            & > i{
                                font-size:20px;
                                margin-right:8px;
                                color: #CFDACE;
                            }
                        }

                        .readmore{
                            padding: 7px 20px;
                            float: right;
                            font-size: 12px;
                            background: #2196F3;
                            color: #ffffff;
                            box-shadow: 0px 10px 20px -10px #1376c5;
                            border-radius: 25px;
                            text-transform: uppercase;
                            &:hover{
                                background: #3498db;
                                text-decoration:none;
                                color:#fff;
                            }
                        }


                    }
                }
            }
        }

        hr{
            width: 80%;
            color: #363636;
            border-radius: 50%;
            margin: 20px 0px;
        }

        .testimonials{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            margin: 20px 0px;

            .title{
                font-weight: 600;
                font-size: 30px;
                text-align: center;
                color: #333333;
                margin-bottom: 50px;
            }

            .wrapper{
                width: 100%;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 10px;
                position: relative;

                .testimonial{
                    background: #fff;
                    box-shadow: 0 8px 30px -7px #c9dff0;
                    margin: 0 20px;
                    padding: 0 10px;
                    border-radius: 20px;
                    border: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    display: none;

                    img{
                        border-radius: 50%;
                        margin: 15px auto 0;
                        box-shadow: 0 8px 20px -4px #95abbb;
                        width: 100px;
                        height: 100px;
                    }

                    .content{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content:space-evenly;

                        h5{
                            color: #01b0f8;
                            font-size: 21px;
                            line-height: 1.3;
                        }

                        h1{
                            font-size: 18px;
                            color: #666666;
                        }

                        p{
                            font-size: 18px;
                            color: #555;
                            padding-bottom: 15px;
                        }
                    }
                }

                /* Fading animation */
                .fade {
                    animation-name: fade;
                    animation-duration: 1.5s;
                }
                  
                @keyframes fade {
                    from {opacity: .4}
                    to {opacity: 1}
                }
            }
        }
    }

    .products{
        width: 100%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-position: center;

        .banner{
            width: 90%;
            height: max-content;
            background-color: rgba(0, 0, 0, 0.2);
            display: flex;
            flex-wrap: wrap;
            align-items: start;
            justify-content: space-evenly;
            position: relative;
            border-radius: 10px;

            section{
                width: 100%;
                padding: 20px;
                display: flex;
                flex-direction:column;
                flex: 1;
                align-items: center;
                justify-content: space-between;
                align-items: center;
                justify-content: start;

                img{
                    width: 100px;
                    height: 100px;
                    object-fit: cover;
                    object-position: center;
                }

                h2{
                    font-size: 22px;
                    line-height: 1.3;
                    margin-top: 20px;
                }

                p{
                    color: #555;
                    font-size: 18px;
                    width: 80%;
                    margin-bottom: 20px;
                }

                button{
                    width: 140px;
                    height: 35px;
                    border: none;
                    color: white;
                    background-color: #06729c;
                    cursor: pointer;
                    &:hover{
                        color: #06729c;
                        background-color: white;
                    }
                }
            }
        }

        .section{

            width: 90%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            margin: 20px;

            h2{
                font-size: 24px;
                line-height: 1.3;
            }

            p{
                color: grey;
                font-size: 18px;
                width: 80%;
            }
        }

        .wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 20px;
            background-color: yellow;

            .item{
                width: 80%;
                height: 180px;
                display: flex;
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 0.25rem;
                overflow: hidden;
                border-radius: 10px;
                margin:  20px 0px;

                .image-container{
                    width: 150px;
                    height: 150px;
                    margin: 20px;

                    img{
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .content{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding: 10px;
                    margin-left: 10px;

                    h2{
                        font-size: 24px;
                        color: #333;
                    }

                    p{
                        line-height: 1.2;
                    }
                }
            }
        }
    }

    .blogs{
        width: 100vw;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: wheat;

        .banner{
            width: 100%;
            background-color: #1b1b1b;
            h1{
                font-size: 24px;
                font-weight: 600;
            }
        }

        .wrapper{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .post-container{
                flex: 3;
                display: flex;
                align-items: center;
                justify-content: center;

                .post{
                    padding: 10px;
                    border-radius: 10px;
                    background-color: white;
                    &:hover{
                        cursor: pointer;
                        
                    }
                    .image-container{
                        width: 120px;
                        height: 1120px;
                        position: relative;

                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: fill;
                            object-position: center;
                        }

                        a{
                            opacity: 0;
                            position: absolute;
                            z-index: 10;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }

            aside{
                h1{

                }

                .container{
                    .item{

                    }
                }
            }
            
        }
    }

    .newsletter{
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin: 40px 0px;
        padding: 10px;
        background-color: #ebf4fc;

        h1{
            font-size: 20px;
            font-weight: 400;
        }

        p{
            font-size: 15px;
        }

        form{
            width: 300px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;

            input{
                height: inherit;
                outline: none;
                font-size: 18px;
                background: #c7c6c6;
                color: #2c2c2c;
                flex: 7;
                border: none;
            }

            button{
                height: 40px;
                flex: 3;
                background-color: #5ba9ee;
                color: white;
                border: none;
                cursor: pointer;
            }
        }
    }

    .footer{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        padding: 20px;

        .social{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 20px;

            h2{
                font-size: 20px;
                font-weight: 600;
            
                @media screen and (max-width: 720px) {
                    display: none;
                }
            }

            .wrapper{
                width: 300px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                margin: 0px 20px;

                a{
                    color: black;
                    cursor: pointer;
                }
            }
        }

        .section-wrapper{
            width: 100%;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
        
            @media screen and (max-width: 568px){
                flex-direction: column;
            }

            section{
                width: calc((100% - 200px) / 3);
                height: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;

                h2{
                    width: 100%;
                    font-size: 20px;
                    font-weight: 600;
                }

                .items-container{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-evenly;

                    a{
                        padding: 10px;
                        cursor: pointer;
                        text-decoration: none;
                    
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        hr{
            width: 80%;
            color: #363636;
            border-radius: 50%;
            margin: 20px 0px;
        }

        .footer-bottom{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            p{
                font-size: 14px;
                color: #1b1b1b;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }

            a{
                color: #1b1b1b;
                font-size: 14px;
                cursor: pointer;
            }
        }
    }
    
}